<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/tailwind.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>fuller</title>
</head>
<body class="text-indigo-700">
  <header>
    <div class="container mx-auto px-10">
        <a href="/"><img class="logo mt-10" src="img/link.svg"></a>
        <h1 class="text-9xl text-center mt-84 font-black">404</h1>
    </div>
  </header>
</body>
</html>