<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Fuller | Редирект был создан</title>
</head>
<body>
    <header>
        <div class="container mx-auto px-12">
            <a href="/"><img class="logo mt-10" src="img/link.svg"></a>
            <h1 class="mt-56 text-5xl font-black">Ваша заметка была создана!<br><span class="text-indigo-600">И готова к использованию</span></h1>
            <h1 type="url" name="tolink" class="border-2 mt-12 rounded-md border-indigo-600 text-indigo-600 px-8 py-4 m-2 sm:w-full md:w-2/5">https://fuller.glitch.me/<%= wantlink %></h1>
        </div>
    </header>
</body>
</html>