<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/tailwind.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Fuller | Такой редирект уже имееться</title>
</head>
<body class="text-gray-700">
  <header>
    <div class="container mx-auto px-10">
        <a href="/"><img class="logo mt-10" src="img/link.svg"></a>
        <h1 class="mt-56 text-5xl font-black">Этот редирект<br><span class="text-indigo-600">уже имееться</span></h1>
        <p class="mt-8 text-2xl font-semibold w-64">Пожалуйста выберите другое имя редиректу</p>
    </div>
  </header>
</body>
</html>