<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>POST YOUR HTML</title>
    <link rel="icon" href="https://discordapp.com/assets/7c13aa0def6ccb6932f47dedd33f59c1.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
    <style> body { font-family: 'Montserrat', sans-serif; }  </style>
</head>
<body>
    <header>
        <div class="container">
            <h1 class="title" style="font-weight: 900;">POST YOUR HTML</h1>
            <p>Вы можете поставить свой HTML код в файл редиректа</p>
            <form action="p/add"  method="POST">
                <textarea name="code" class="code" style="margin-bottom: 40px;" cols="100" rows="10"></textarea>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">https://fuller.glitch.me/p/</span>
                    </div>
                    <input type="text" class="form-control" placeholder="link" aria-label="Username" aria-describedby="basic-addon1" name="link">
                </div>
                <button class="btn btn-light" style="margin-top: 30px;">Создать</button>
            </form>
        </div>
    </header>
    <style>
        body {
            background-color: #000;
            color: #fff;
        }
        p {
            font-size: 20px;
        }

        .title {
            margin-top: 100px;
        }

        .code {
            padding: 0px;
            padding-top: 15px;
            padding-left: 15px;
            background: #231f2b;
            color: #fff;
            border: solid #1c1824 10px;
        }
    </style>
</body>
</html>