<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>На минималках</title>
</head>
<body class="text-gray-700 bg-gray-100">
    <header>
        <div class="container mx-auto">
            <div>
                <a href="/"><img src="/img/link.svg" class="w-20 h-20 mt-8"></a>
            </div>

            <div class="wrapper flex">
                <div class="offer mt-56 w-2/3">
                    <h1 class="text-5xl font-black">Non nisi est sit amet? <br><span class="text-indigo-600">Facilisis magna</span></h1>
                    <p class="mt-5 text-2xl w-96">tellus mauris a diam maecenas sed enim ut sem viverra aliquet eget sit amet tellus magna </p>
                    <button class="mt-24 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 p-5 px-20 text-white rounded-full shadow-2xl font-black">Тыкни</button>
                </div>

                <img src="https://images.unsplash.com/photo-1620063224601-ead11b9737bf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="" class="w-1/3 shadow-2xl">
            </div>
        </div>
    </header>

    <section>
        <div class="container mx-auto">
            <div class="grid grid-cols-3 gap-4 mt-24">
                <img src="https://images.unsplash.com/photo-1621923164562-21d3118adae4?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></img>
                <img src="https://images.unsplash.com/photo-1480548004877-593316be2bd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80" class="bg-indigo-600"></img>
                <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjN8MTkyMjcyOXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></img>
                <img src="https://images.unsplash.com/photo-1621867421370-3b805d8500a5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"></img>
                <img class="mt-10" src="https://images.unsplash.com/photo-1582821474551-84017fdf3e8c?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8OXwxOTIyNzI5fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></img>
                <img src="https://images.unsplash.com/photo-1578225334653-5bd4621d2ec7?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTV8MTkyMjcyOXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></img>
                <img src="https://images.unsplash.com/photo-1563518872771-a36b7cc59727?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MzB8MTkyMjcyOXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></img>
                <img src="https://images.unsplash.com/photo-1548154030-e69e8e64177d?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NTJ8MTkyMjcyOXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></img>
                <img class="mt-10" src="https://images.unsplash.com/photo-1531201890865-fb64780d16e9?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTAzfDE5MjI3Mjl8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></img>
              </div>
        </div>
    </section>
    
    <section>
        <div class="container mx-auto">
            <h1 class="text-4xl font-black"> There is we!</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2449.5141788106475!2d20.953331747745647!3d52.124967748625714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471933d3c8cc70d9%3A0x74fed3b43953c088!2sKosa!5e0!3m2!1sru!2spl!4v1621943749000!5m2!1sru!2spl" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" class="mt-5"></iframe>
        </div>
    </section>

    <section>
        <div class="container mx-auto mt-24">
            <h1 class="text-4xl font-black">Feedback us!</h1>
            <form action="/" method="POST" class="flex flex-col md:flex-row justify-start -m-2 text-lg w-full mt-10">
                <input type="url" name="tolink" placeholder="Your name" class="border-2 rounded-md border-indigo-600 placeholder-indigo-600 px-8 py-4 m-2 sm:w-full md:w-2/5" />
                <input type="text" name="wantlink" placeholder="Your email" class="border-2 rounded-md border-indigo-600 placeholder-indigo-600 px-8 py-4 m-2 sm:w-full md:w-2/5" />
                <button class="rounded-md bg-indigo-600 px-8 py-4 m-2 sm:w-full md:w-1/5 text-white">Send</button>
              </form>
        </div>
    </section>

    <footer class="mt-12 p-7 bg-yellow-200">
        <p class="text-center">Copyright съел кот</p>
    </footer>
</body>
</html>